body{
    background-color:#efefef;
}
.container-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    justify-content: flex-end;
}
.box1 {
    flex: 1;

}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
        position:fixed;
        top: 0;
        width: 100%;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4caf50;
    color: #878f99;
}

a {
    text-decoration: none;
    color: darkgray;
}
.box1 {
    background-color:#efefef;
}
div {
    width: 300px;
    padding: 10px;
    border: 10px solid;
    border-radius: 50px;
}
 pre, p {
    overflow: scroll;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #034f84;
}
a:hover{
    color: #878f99;
    background-color: #333;
}
span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #f7786b;
    border: 4px dashed #20bcd5;
    padding: 10px;
}

